<widget id="com.ardyvert.mathwizz" version="1.0.0">
<name>MathWizz</name>
<description>An app to help students with O level mathematics.Includes topic by topic lectures and exam questions.</description >
<platform name="ios"/>
<platform name="android"/>
<platform name="winphone"/>
<author email=burtchulu@gmail.comhref="https://ardyvert.github.io/mathwizz/">Burton Chulu</author >
<preference name ="permissions" value="none" ></preference>
</widget>
